@model Quiron.LojaVirtual.Web.Models.ProdutosViewModel
@using Quiron.LojaVirtual.Web.HtmlHelpers
           
@foreach (var p in Model.Produtos)
{
    <div class="well">
        <h3><strong>@p.Nome</strong></h3>
        @p.Descricao
        <h3 class="label label-primary pull-right">@p.Preco.ToString("C")</h3>
    </div>

}

@Html.PageLinks(Model.Paginacao, i => Url.Action("ListaProdutos", new { pagina = i, categoria = Model.CategoriaAtual}))
